<!doctype html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload_page.css') }}">

<!-- <title>Upload new File</title>
<div>
  <h1 class="">Upload new File</h1>

  <form method=post enctype=multipart/form-data>
    <div>
      <input type=file name=file>
      <input type=submit value=Upload>
    </div>

    <div class="parameterInput" style="align-items: center;">
      <label for="alpha">Alpha: </label>
      <input type="number" id="alpha" name="alpha" min="0" max="100" value="20">
    </div>

    <div class="parameterInput">
      <label for="cutoff">Cutoff: </label>
      <input type="number" id="cutoff" name="cutoff" value="16">
    </div>

    <div class="parameterInput">
      <label for="low">Low: </label>
      <input type="number" id="low" name="low" value="1">
    </div>

    <div class="parameterInput">
      <label for="high">High: </label>
      <input type="number" id="high" name="high" value="1">
    </div>

    <div class="parameterInput">
      <label for="linearAttenuation">Linear Attenuation: </label>
      <input type="number" id="linearAttenuation" name="linearAttenuation" value="1">
    </div>
    
    <div class="parameterInput">
      <label for="chromAttenuation">Chromatic Attenuation: </label>
      <input type="number" id="chromAttenuation" name="chromAttenuation" value="1">
    </div>
    
  </form>

  {%if no_file_selected%}
      <h3>No file was selected. Please select a file.</h3>
  {% endif %}
</div>
-->

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<script>
  $(document).ready(function(){
    $('form input').change(function () {
      $('form p').text(this.files.length + " file(s) selected");
    });
  }); 
</script>
<h1>Eulerian Magnification for Jugular Venous Pressure</h1>
<form method=post enctype=multipart/form-data>
  <input type="file" name=file class="file-input">
  <p>Drag your files here or click in this area</p>

  <label>Alpha:
    <input type="text" name="alpha" value="10">
  </label><br><br>

  <label>Cutoff:
    <input type="text" name="cutoff" value="40">
  </label><br><br>

  <label>Low Frequency:
    <input type="text" name="low" value="0.4">
  </label><br><br>

  <label>High Frequency:
    <input type="text" name="high" value="3">
  </label><br><br>

  <label>Linear Attenuation:
    <input type="text" name="linearAttenuation" value="1">
  </label><br><br>

  <label>Chromatic Attenuation:
    <input type="text" name="chromAttenuation" value="0">
  </label><br><br>

  <button type="submit" value="Upload">
    Upload
  </button>
</form>


<!-- <!DOCTYPE html>
<html>
<title>Upload Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload_page.css') }}">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image:  url('https://c8.alamy.com/comp/2A9AWM1/abstract-background-of-human-body-anatomy-and-dna-muscle-anatomy-structure-in-blue-medical-background-dna-human-anatomy-model-3d-render-2A9AWM1.jpg');
  min-height: 50%;
}

#upload {
    padding-top: 15px;
    padding-bottom: 15px;
}

.w3-wide {letter-spacing: 7px;}
.w3-hover-opacity {cursor: pointer;}
</style>

<body> -->
<!-- Navbar (sit on top) -->
<!-- <div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#upload" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>Upload</a>
  </div> -->

  <!-- Navbar on small screens -->
  <!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#upload" class="w3-bar-item w3-button" onclick="toggleFunction()">Upload</a>
  </div>
</div> -->

<!-- First Parallax Image with Logo Text -->
<!-- <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Jugular  Venous  Pressure</span>
  </div>
</div> -->

<!-- 
<div id="upload">
    <h1 class="w3-center">Upload new File</h1>
    <form style="text-align: center;" method=post enctype=multipart/form-data style="display: inline-block;">
      <div>
        <input type=file name=file>
        <input type=submit value=Upload>
      </div>
      <div class="parameterInput">
        <label for="alpha">Alpha: </label>
        <input type="number" id="alpha" name="alpha" min="0" max="100" value="20">
      </div>
      <div class="parameterInput">
        <label for="cutoff">Cutoff: </label>
        <input type="number" id="cutoff" name="cutoff" value="16">
      </div>
      <div class="parameterInput">
        <label for="low">Low: </label>
        <input type="number" id="low" name="low" value="0.83">
      </div>
      <div class="parameterInput"></div>
        <label for="high">High: </label>
        <input type="number" id="high" name="high" value="1">
      </div>
      <div class="parameterInput"></div>
        <label for="linearAttenuation">Linear Attenuation: </label>
        <input type="number" id="linearAttenuation" name="linearAttenuation" value="1">
      </div>
      <div class="parameterInput"></div>
        <label for="chromAttenuation">Chromatic Attenuation: </label>
        <input type="number" id="chromAttenuation" name="chromAttenuation" value="1">
      </div>
    </form>
    {%if no_file_selected%}
        <h3>No file was selected. Please select a file.</h3>
    {% endif %}
</div>

  -->
<!-- <script>

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html> -->